In [1]:
import os
from bs4 import BeautifulSoup
import pandas as pd
import requests

In [2]:
url = "https://mars.nasa.gov/news/" 
response = requests.get(url)
soup = BeautifulSoup(response.text, 'html.parser')
title = soup.find("div", class_="content_title").text
text = soup.find("div", class_="rollover_description_inner").text
print(title)
print(text)

NASA's InSight Places First Instrument on Mars



In deploying its first instrument onto the surface of Mars, the lander completes a major mission milestone.

In [3]:
url_twitter = 'https://twitter.com/marswxreport?lang=en'
response_twitter = requests.get(url_twitter)
soup_twitter = BeautifulSoup(response_twitter.text, 'html.parser')
mars_weather = soup_twitter.find("div", class_="js-tweet-text-container").text
print(mars_weather)

Sol 2291 (2019-01-16), high -8C/17F, low -70C/-93F, pressure at 8.23 hPa, daylight 06:46-18:55pic.twitter.com/IRiqxlJqvT

In [4]:
url_facts = 'http://space-facts.com/mars/'
facts = pd.read_html(url_facts)
facts_df = facts[0]
facts_df.columns = ['Description','Total']
facts_df.set_index('Description', inplace=True)
facts_df.to_html()
facts_df

                                              Total
Description
Equatorial Diameter:                       6,792 km
Polar Diameter:                            6,752 km
Mass:                 6.42 x 10^23 kg (10.7% Earth)
Moons:                          2 (Phobos & Deimos)
Orbit Distance:            227,943,824 km (1.52 AU)
Orbit Period:                  687 days (1.9 years)
Surface Temperature:                  -153 to 20 °C
First Record:                     2nd millennium BC
Recorded By:                   Egyptian astronomers

In [5]:
#https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars
#Website Unavailable due to Government shutdown